@import "tailwindcss";
@theme {
  --color-primary: rgba(50, 220, 205, 1);
  --color-primary-text: rgba(0, 55, 50, 1);
  --color-secondary: rgba(142, 206, 251, 1);
  --color-tertiary: rgba(104, 81, 30, 1);
  --color-tertiary-text: rgba(229, 197, 135, 1);
  --color-background: rgba(8, 21, 30, 1);
  --color-card-background: rgba(17, 29, 38, 1);
  --color-mute: rgba(215, 228, 241, 1);
  --color-mute-secondary: rgba(192, 199, 207, 1);
  --color-input: rgba(42, 54, 64, 1);
}
@layer base {
  .dark {
    --color-primary: rgba(50, 220, 205, 1);
    --color-primary-text: rgba(0, 55, 50, 1);
    --color-secondary: rgba(142, 206, 251, 1);
    --color-tertiary: rgba(104, 81, 30, 1);
    --color-tertiary-text: rgba(229, 197, 135, 1);
    --color-background: rgba(8, 21, 30, 1);
    --color-card-background: rgba(17, 29, 38, 1);
    --color-mute: rgba(215, 228, 241, 1);
    --color-mute-secondary: rgba(192, 199, 207, 1);
    --color-input: rgba(42, 54, 64, 1);
  }

  .light {
    --color-primary: rgba(0, 150, 136, 1);
    --color-primary-text: rgba(235, 255, 252, 1);
    --color-secondary: rgba(37, 99, 235, 1);
    --color-tertiary: rgba(180, 83, 9, 1);
    --color-tertiary-text: rgba(120, 53, 15, 1);
    --color-background: rgba(247, 250, 252, 1);
    --color-card-background: rgba(255, 255, 255, 1);
    --color-mute: rgba(15, 23, 42, 1);
    --color-mute-secondary: rgba(71, 85, 105, 1);
    --color-input: rgba(241, 245, 249, 1);
  }
}
